/app/Config/migrations/*.php
/assets-dev/.sass-cache
/assets-dev/bower_components
/assets-dev/node_modules
/assets-dev/npm-debug.log
/vendor
composer.lock
composer.phar
.DS_Store
Thumbs.db
.env
database.sqlite
*.zip
