{% extends "layouts/layout.twig" %}

{% block content %}
<h1 class="cover-heading">Hay un error en el código.</h1>
<p class="lead">Estamos trabajando para que este link vuelva a funcionar.</p>
{% endblock %}
