<nav>
  <ul class="nav masthead-nav">
    <li{% if section_home %} class="active"{% endif %}><a href="{{ base_url }}">Inicio</a></li>
    <li{% if section_hello %} class="active"{% endif %}><a href="{{ base_url }}hola/mundo">Hola!</a></li>
    <li{% if section_contact %} class="active"{% endif %}><a href="{{ base_url }}contacto">Contacto</a></li>
  </ul>
</nav>
